<section id='home'>

    <section class='band_photo_wrapper'>
        <div class='band_photo'></div>
    </section>

    <section id='links_about' class='aboutus'>
        <div class='container'>
            <p>Chalk Theory Bandits is a band that was formed in October 2012 by David Stahl, Alex Yau, Sebastien Issa, Jason Littman, Paul Calhoun, and Jordyn Tumas—all current students at the University of Pennsylvania.  It is one of the few cover bands on Penn's 20,000 person campus and is best known for its unique combination of instruments, most notably its addition of an extra guitar, an extra piano and the lack of a bass.</p>
            <p> Chalk Theory Bandits covers a variety of genres, yet mostly focuses on trending college music for popular live performances.  The band is best known for its cover of “Too Close” by Alex Clare, which dramatically showcases the talents of “the bandits.” These include Tumas’s stirring vocals, Yau and Stahl’s synth capabilities on piano, Calhoun’s vast array of sounds on percussion, and Littman and Issa’s creatively composed guitar tracks.  The translation of “Too Close’s” dubstep chorus into a vibrant live set is a exhilarating performance you don't want to miss.</p>

            <p>See you at the stage,</p>
            <p>Chalk Theory Bandits</p>
        </div>
    </section>

    <section id='link_tracks' class='tracks'>
        <div class='container'>
            <h2>Our Tracks</h2>
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F77689151"></iframe>
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F80723599"></iframe>
        </div>
    </section>
    
    <section id='link_bio' class='bio'>
        <div class='container'>
            <h2>The Bandits</h2>
            <ul>
                <li>
                    <div class='avatar'>
                        <img src='/assets/seb.jpg'>
                    </div>
                    <div class='performer_info'>
                        <h3 class='seb'>Sebastien Issa</h3>
                        <p>Guitar</p>
                        <p>Class: Senior</p> 
                        <p>Major: Mechanical Engineering and Applied Mechanics</p> 
                        <p>Hometown: Manhattan</p>
                        <p>Favorite Song: I Will Wait by Mumford and Sons</p>
                    </div>
                </li>
                <li>
                    <div class='avatar'>
                        <img src='/assets/jason.jpg'>
                    </div>
                    <div class='performer_info'>
                        <h3 class='jason'>Jason Littman</h3>
                        <p>Guitar</p>
                        <p>Class: Junior</p>
                        <p>Major: Biology</p>
                        <p>Hometown: Long Island</p>
                        <p>Favorite Song: Hava Nagilah</p>
                    </div>
                </li>
                <li>
                    <div class='avatar'>
                        <img src='/assets/alex.jpg'>
                    </div>
                    <div class='performer_info'>
                        <h3 class='alex'>Alex Yau</h3>
                        <p>Piano</p>
                        <p>Class: Junior</p> 
                        <p>Major: Computer Engineering</p> 
                        <p>Hometown: Hong Kong</p>
                        <p>Favorite Song: Bohemian Rhapsody by Queen</p>
                    </div>
                </li>
                <li>
                    <div class='avatar'>
                        <img src='/assets/jordyn.jpg'>
                    </div>
                    <div class='performer_info'>
                        <h3 class='jordyn'>Jordyn Tumas</h3>
                        <p>Vocals</p>
                        <p>Class: Sophomore</p>
                        <p>Major: Biology</p>
                        <p>Hometown: Ocean New Jersey</p>
                        <p>Favorite Song: Winner at a Losing Game by Rascal Flatts</p>
                    </div>
                </li>
                <li>
                    <div class='avatar'>
                        <img src='/assets/paul.jpg'>
                    </div>
                    <div class='performer_info'>
                        <h3 class='paul'>Paul Calhoun</h3>
                        <p>Drums</p>
                        <p>Class: Sophomore</p> 
                        <p>Major: Business</p> 
                        <p>Hometown: Atlanta</p>
                        <p>Favorite Song: Boyfriend by Justin Bieber</p>
                    </div>
                </li>
                <li>
                    <div class='avatar'>
                        <img src='/assets/david.jpg'>
                    </div>
                    <div class='performer_info'>
                        <h3 class='david'>David Stahl</h3>
                        <p>Piano</p>
                        <p>Class: Junior</p>
                        <p>Major: Earth Science</p>
                        <p>Hometown: Cleveland</p>
                        <p>Favorite Song: Iris by the Goo Goo Dolls</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section id='link_concerts' class='concerts'>
        <div class='container'>
            <h2>Upcoming Concerts</h2>
            <article>
                <h3>St. Patrick's Day Weekend, Sigma Nu Day Party</h3>
                <p>Saturday March 16</p>
                <p>3819 Walnut Street</p>
                <p>House opens 1pm, Chalk Theory Bandits on at 3</p>
            </article>
        </div>
    </section>

    <section id='link_booking' class='booking'>
        <div class='container'>
            <h2 style='margin-bottom: 0px;'>Contact</h2>
            <div style='margin-left: 50px'>
                <p>For general inquiries, please contact <a href='mailto:chalktheorybandits@gmail.com'>chalktheorybandits@gmail.com</a>.</p> 
                <p>Thanks!</p>
                <p style='margin-left: 530px;'>- Chalk Theory Bandits</p>
            </div>
        </div>
    </section>
    
</section>