<section id='home'>

    <section class='band_photo_wrapper'>
        <div class='band_photo'></div>
    </section>

    <section id='link_bio' class='bio'>
        <div class='container'>
            <h2>The bandits</h2>
            <ul>
                <li>
                    <div class='avatar'>
                        <img src='/assets/seb.jpg'>
                    </div>
                    <div class='performer_info'>
                        <h3 class='seb'>Sebastien Issa</h3>
                        <p>Guitar</p>
                        <p>Class: Senior</p> 
                        <p>Major: Mechanical Engineering and Applied Mechanics</p> 
                        <p>Hometown: Manhattan</p>
                        <p>Favorite Song: Fireflies by Owl City</p>
                    </div>
                </li>
                <li>
                    <div class='avatar'>
                        <img src='/assets/jason.jpg'>
                    </div>
                    <div class='performer_info'>
                        <h3 class='jason'>Jason Littman</h3>
                        <p>Guitar</p>
                        <p>Class: Junior</p>
                        <p>Major: Biology</p>
                        <p>Hometown: Long Island</p>
                        <p>Favorite Song: Firework by Katy Perry</p>
                    </div>
                </li>
                <li>
                    <div class='avatar'>
                        <img src='/assets/alex.jpg'>
                    </div>
                    <div class='performer_info'>
                        <h3 class='alex'>Alex Yau</h3>
                        <p>Piano</p>
                        <p>Class: Junior</p> 
                        <p>Major: Computer Engineering</p> 
                        <p>Hometown: Hong Kong</p>
                        <p>Favorite Song: You belong with me by Taylor Swift</p>
                    </div>
                </li>
                <li>
                    <div class='avatar'>
                        <img src='/assets/jordyn.jpg'>
                    </div>
                    <div class='performer_info'>
                        <h3 class='jordyn'>Jordyn Tumas</h3>
                        <p>Vocals</p>
                        <p>Class: Sophomore</p>
                        <p>Major: Biology</p>
                        <p>Hometown: Ocean New Jersey</p>
                        <p>Favorite Song: Call Me Maybe by Carly Rae Jepsen</p>
                    </div>
                </li>
                <li>
                    <div class='avatar'>
                        <img src='/assets/paul.jpg'>
                    </div>
                    <div class='performer_info'>
                        <h3 class='paul'>Paul Calhoun</h3>
                        <p>Drums</p>
                        <p>Class: Sophomore</p> 
                        <p>Major: Business</p> 
                        <p>Hometown: Atlanta</p>
                        <p>Favorite Song: Boyfriend by Justin Bieber</p>
                    </div>
                </li>
                <li>
                    <div class='avatar'>
                        <img src='/assets/david.jpg'>
                    </div>
                    <div class='performer_info'>
                        <h3 class='david'>David Stahl</h3>
                        <p>Piano</p>
                        <p>Class: Junior</p>
                        <p>Major: Earth Science</p>
                        <p>Hometown: Cleveland</p>
                        <p>Favorite Song: Friday by Rebecca Black</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section id='link_concerts' class='concerts'>
        <div class='container'>
            <h2>Upcoming Concerts</h2>
            <article>
                <h3>St. Patrick's Day weekend, Sigma Nu Day Party</h3>
                <p>Saturday March 16</p>
                <p>3819 Walnut Street</p>
                <p>House opens 1pm, Chalk Theory Bandits on at 3</p>
            </article>
        </div>
    </section>

    <section id='link_booking' class='booking'>
        <div class='container'>
            <h2 style='margin-bottom: 0px;'>Booking</h2>
            <div style='margin-left: 50px'>
                <p>For booking purposes or general inquiries, please contact <a href='mailto:chalktheorybandits@gmail.com'>chalktheorybandits@gmail.com</a>.</p> 
                <p>Thanks!</p>
                <p style='margin-left: 530px;'>- Chalk Theory Bandits</p>
            </div>
        </div>
    </section>
    
</section>