<section id='performers'>
	<img class='sebphoto' src="assets/sebphoto.jpg">
	</img>
	<div class='sebname'>
		Sebastien Issa
	</div>
	<div class='sebtext'>
		Guitar
	</br>
		Class: Senior
	</br>
		Major: Mechanical Engineering and Applied Mechanics
	</br>
		Hometown: Manhattan
	</br>
		Favorite Song: Fireflies by Owl City
	</div>
	<img class='jasonphoto' src="assets/jasonphoto.jpg">
	</img>
	<div class='jasonname'>
		Jason Littman
	</div>
	<div class='jasontext'>
		Guitar
	</br>
		Class: Junior
	</br>
		Major: Biology
	</br>
		Hometown: Long Island
	</br>
		Favorite Song: Firework by Katy Perry
	</div>
	<img class='alexphoto' src="assets/alexphoto.jpg">
	</img>
	<div class='alexname'>
		Alex Yau
	</div>
	<div class='alextext'>
		Piano
	</br>
		Class: Junior
	</br>
		Major: Computer Engineering
	</br>
		Hometown: Hong Kong
	</br>
		Favorite Song: You Belong With Me 
	</br>
		by Taylor Swift
	</div>
	<img class='jordynphoto' src="assets/jordynphoto.jpg">
	</img>
	<div class='jordynname'>
		Jordyn Tumas
	</div>
	<div class='jordyntext'>
		Vocals
	</br>
		Class: Sophomore
	</br>
		Major: Undeclared
	</br>
		Hometown: Ocean, New Jersey
	</br>
		Favorite Song: Call Me Maybe by Carly Rae Jepsen
	</div>
	<img class='paulphoto' src="assets/paulphoto.jpg">
	</img>
	<div class='paulname'>
		Paul Calhoun
	</div>
	<div class='paultext'>
		Drums
	</br>
		Class: Sophomore
	</br>
		Major: Undeclared
	</br>
		Hometown: Atlanta
	</br>
		Favorite Song: Boyfriend by Justin Bieber
	</div>
	<img class='davidphoto' src="assets/davidphoto.jpg">
	</img>
	<div class='davidname'>
		David Stahl
	</div>
	<div class='davidtext'>
		Piano
	</br>
		Class: Junior
	</br>
		Major: Earth Science
	</br>
		Hometown: Cleveland
	</br>
		Favorite Song: Your Love is My Drug by Ke$ha
	</div>

</section>