/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*
html{
	min-height: 100%;
	position:relative;
}*/

@font-face {
    font: {
        family: "Avenir";
        style: normal;
    }
    src: asset-url('AvenirLTStd-Medium.otf', font) format("opentype");
}

* {
	box-sizing: border-box;
}

body{
	margin: 0px;
    font-family: Avenir;
    background: white;
}

.container {
	margin: auto;
	width: 960px;
	height: 100%;
}

.header {
    width: 100%;
    height: 80px;
    background: white;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.4);

    section {
        margin: auto;
    	width: 960px;
        position: relative;
    }

    h1{
        margin: 10px 0px;
        font-size: 45px;
        padding: 15px 0px;
        float: left;
    }

    .links {
        float: right;
        margin: 0px;
        padding: 50px 0px;
        list-style: none;

        li {
            float: left;
            padding: 0px 10px;
        }
        a {
            color: black;
            text-decoration: none;
            -o-transition:.25s;
            -ms-transition:.25s;
            -moz-transition:.25s;
            -webkit-transition:.25s;
            transition:.25s;
            &:hover{
                color: #888;
            }
        }
    }
}