/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/*
html{
	min-height: 100%;
	position:relative;
}*/

@font-face {
    font: {
        family: "Avenir";
        style: normal;
    }
    src: asset-url('AvenirLTStd-Medium.otf', font) format("opentype");
}

* {
	box-sizing: border-box;
}

body{
	margin: 0px;
    font-family: Avenir;
    background: white;
}

.container {
	margin: auto;
	width: 960px;
	height: 100%;
}

.header {
    width: 100%;
    height: 80px;
    background: white;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.4);

    section {
        margin: auto;
    	width: 960px;
        position: relative;
    }

    h1{
        margin: 10px 0px;
        font-size: 45px;
        padding: 15px 0px;
        float: left;
    }

    .links {
        float: right;
        margin: 0px;
        padding: 50px 0px;
        list-style: none;

        li {
            float: left;
            padding: 0px 10px;
        }
        a {
            color: black;
            text-decoration: none;
            -o-transition:.25s;
            -ms-transition:.25s;
            -moz-transition:.25s;
            -webkit-transition:.25s;
            transition:.25s;
            &:hover{
                color: #888;
            }
        }
    }
}

#home {
    margin: 0px;
    padding: 0px;
    margin-top: 80px;

    .band_photo_wrapper{
        background: black;
        position: relative;
        // box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.7);
    }

    .band_photo{
        width: 960px;
        height: 500px;
        background-image: url('https://s3.amazonaws.com/uploads.hipchat.com/21163/341124/aJMDodHKGgKsl3b/upload.png');
        background-size: 100% auto;
        background-position: 0px -25px;
        margin: auto;
    }

    .show {
        position: absolute;
        bottom: 0;
        width: 960px;
        margin-left: -480px;
        left: 50%;
        background: #f0f0f0;

        hr {
            margin: 0;
            height: 3px;
            background: blue;
            border: none;
            width: 16.66%;
            float: left;
        }

        p{
            padding-left: 20px;
            margin: 0;
            padding-top: 20px;
        }

        h3 {
            margin: 0;
            font-weight: normal;
            padding-left: 20px
            // color: white;
            // text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
        }

        .show-title{
            font-size: 32px;
        }

        .show-location{
            font-size: 24px;
            padding-bottom: 20px;
        }
    }

    .stop{
        padding-left: 200px;
        width: 1150px;
    }

    h2 {
        font-size: 36px;
        font-weight: normal;
    }

    .aboutus {
        position: relative;
        padding-top: 10px;
        box-shadow: 0px -8px 7px -5px rgba(0,0,0,0.4);
        p {
            font-size: 18px;
        }
    }

    .tracks {
        // padding-top: 30px;
    }

    .bio {
        position: relative;

        p {
            padding: 0px;
            margin: 0px;
        }
        .container {
            padding: 20px 0px;
        }

        h3 {
            &.seb {
                border-bottom: 2px solid #CC2367;
            }
            &.jason {
                border-bottom: 2px solid #23CC5E;
            }
            &.alex {
                border-bottom: 2px solid #CC23B3;
            }
            &.jordyn {
                border-bottom: 2px solid #23CCB0;
            }
            &.paul {
                border-bottom: 2px solid #CCBE23;
            }
            &.david {
                border-bottom: 2px solid #2342CC;
            }
        }

        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        li {
            padding-bottom: 50px;
            max-width: 600px;
            position: relative;

            .instruments{
                position:absolute;
                top: 50px;
                margin-left:645px;
            }
        }

        .performer_info {
            margin-left: 130px; 
        }
    }

    .avatar {
        position: absolute;
        height: 100px;
        width: 100px;
        padding: 0px;
        margin: 5px;
        border-radius: 50px;
        box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
        border: 3px solid white;
        float: left;
        overflow: hidden;

        img {
            height: auto;
            width: 100px;
        }
    }

    .concerts {
        background: black;
        padding: 20px 0px;

        h2, h3, p {
            color: white;
        }

        h3 {
            font-weight: normal;
            font-size: 24px;
        }

        article {
            padding-left: 50px;
        }
    }

    .photos {
        padding: 20px 0px;
    }

    .booking {
        background: black;
        padding: 20px 0px;
        h2, h3, p {
            color: white;
        }
    }
}

// countdown
#clock-ticker { 
    display: block; 
    position: absolute;
    margin-bottom: 5px;
    bottom: 0;
    right: 0;

    .block { 
        position: relative;
        color: #fff;
        font-weight: bold;
        float: left;
        margin-right: 22px;

        .flip-top { 
            width: 88px;
            height: 39px;
            line-height: 75px;
            font-size: 55px;
            background: url('/assets/flip-top.png') no-repeat;
            text-align: center;
            display: block;
        }
        .flip-btm { 
            width: 88px;
            height: 40px;
            background: url('/assets/flip-btm.png') no-repeat;
            text-align: center;
            display: block;
        }


        .label { 
            color: #303030;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            width: 88px;
            margin-bottom: 5px;
            line-height: 19px;
            text-align: center;
            font-family: "Calibri", Arial, sans-serif;
        }
    }
}
