// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.bandname{
    margin-top: 150px;
    font-size: 100px;
    font-weight: 900;
    color: #cccccc;

}