// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#home {

    height: 500px;
    background: rgba(255,255,255, 0.8);
    border-left: 3px solid white;
    border-right: 3px solid white;

.linksfromhomepage{
	font-size: 40px;
	position: center;
	font-family: "Impact";
	font-style: oblique;
}

a:hover{
	color: #111111;
}

}

#tracks {
	height: 500px;
	background: rgba(255,255,255, 0.8);
	border-left: 3px solid white;
    border-right: 3px solid white;
}


#concerts{
	height: 500px;
	background: rgba(255,255,255, 0.8);
	border-left: 3px solid white;
    border-right: 3px solid white;

.stpatricksday{
	color: #006400;
	font-size: 45px;
	font-family: "Impact";

}

}

#booking{
	height: 500px;
	background: rgba(255,255,255, 0.8);
	border-left: 3px solid white;
    border-right: 3px solid white;

   .bookingtext{
   	font-size: 30px;
   	font-family: "Helvetica";
   }
}

#performers{
	height: 2500px;
	background: rgba(255,255,255, 0.8);
	border-left: 3px solid white;
    border-right: 3px solid white;
	.sebphoto{
		position: relative;
        margin-top: 20px;
        margin-left: 10px;
        width: 300px;
        height: 400px;
        background-size: 100% auto;
	}

	.sebname{
		position: absolute;
		top: 450px;
		left: 525px;
		font-size: 30px;
		font-family: "Impact";
	}
	.sebtext{
		position: absolute;
		top: 500px;
		left: 525px;
		width: 500px;
		height: 400px;
		font-size: 20px;
		font-family: "Impact";
	}

	.jasonphoto{
		position: absolute;
		top: 800px;
		width: 550px;
		margin-left: 20px;
		height: 350px;
	}
	.jasonname{
		position: absolute;
		top: 900px;
		left: 225px;
		font-size: 30px;
		font-family: "Impact";
	}
	.jasontext{
		position: absolute;
		top: 950px;
		left: 225px;
		width: 500px;
		height: 400px;
		font-size: 20px;
		font-family: "Impact";
	}
	.alexphoto{
		position: absolute;
		top: 1200px;
		left: 200px;
		width: 560px;
		height: 400px;
	}
	.alexname{
		position: absolute;
		top: 1300px;
		left: 775px;
		font-size: 30px;
		font-family: "Impact";
	}
	.alextext{
		position: absolute;
		top: 1350px;
		left: 775px;
		width: 425px;
		height: 400px;
		font-size: 20px;
		font-family: "Impact";
	}
	.jordynphoto{
		position: absolute;
		top: 1625px;
		left: 650px;
		width: 400px;
		height: auto;
	}
	.jordynname{
		position: absolute;
		top: 1700px;
		left: 225px;
		font-size: 30px;
		font-family: "Impact";
	}
	.jordyntext{
		position: absolute;
		top: 1750px;
		left: 225px;
		width: 425px;
		height: 400px;
		font-size: 20px;
		font-family: "Impact";
	}
	.paulphoto{
		position: absolute;
		top: 2050px;
		left: 225px;
		width: 350px;
		height: auto;
	}
	.paulname{
		position: absolute;
		top: 2100px;
		left: 650px;
		font-size: 30px;
		font-family: "Impact";
	}
	.paultext{
		position: absolute;
		top: 2150px;
		left: 650px;
		width: 425px;
		height: 400px;
		font-size: 20px;
		font-family: "Impact";
	}
	.davidphoto{
		position: absolute;
		top: 2550px;
		left: 650px;
		width: 350px;
		height: auto;
	}
	.davidname{
		position: absolute;
		top: 2600px;
		left: 225px;
		font-size: 30px;
		font-family: "Impact";
	}
	.davidtext{
		position: absolute;
		top: 2650px;
		left: 225px;
		width: 425px;
		height: 400px;
		font-size: 20px;
		font-family: "Impact";
	}
}
