<!DOCTYPE html>
<html>
<head>
    <title>Chalk Theory Bandits</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38925277-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>

<header class='header'>
    <section>
        <h1>Chalk Theory Bandits</h1>
        <ul class="links">
            <li>
                <a href="#link_tracks">Our Tracks</a>
            </li>
            <li>
                <a href="#link_bio">The Bandits</a>
            </li>
            <li>
                <a href="#link_concerts">Our Concerts</a>
            </li>
            <li>
                <a href="#link_photos">Gallery</a>
            </li>
            <li>
                <a href="#link_booking">Contact</a>
            </li>
        </ul>    
    </section>
</header>

<%= yield %>

</body>
</html>