<!DOCTYPE html>
<html>
<head>
    <title>Chalk Theory Bandits</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

<header class='header'>
    <section>
        <h1>Chalk Theory Bandits</h1>
        <ul class="links">
            <li>
                <a href="#link_tracks">Hear Our Tracks</a>
            </li>
            <li>
                <a href="#link_bio">The bandits</a>
            </li>
            <li>
                <a href="#link_concerts">Upcoming Concerts</a>
            </li>
            <li>
                <a href="#link_booking">Booking</a>
            </li>
        </ul>    
    </section>
</header>

<%= yield %>

</body>
</html>